.price-box__btn{
	outline: none;
	width: 100%;
	padding: 15px 8px;
	font-size: 16px;
	line-height: 19px;
	font-weight: 300;
	color: #fff;
	text-transform: uppercase;
	white-space: normal;
	text-align: center;
	background-color: #f16d7f;
	border: none;
	box-sizing: border-box;
	&:hover{
		background: #e05c6e;
	}
	&:active{
		background: #f16d7f;
	}
}