.cart__card-btn{
	padding: 17px 40px;
	text-transform: uppercase;
	border: 1px solid #a4a4a4;	
	background-color: transparent;
	color: #000;
	outline: none;
	margin-bottom: 15px;
	&:hover{
		background-color: #f16d7f;
		border-color: #f16d7f;
		color: #fff;
	}
	&:active{
		background-color: transparent;
		border-color: #a4a4a4;
		color: #000;
	}

}